.box {
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  z-index: 1000;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box__close {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

.box__inner {
  background: #fff;
  margin: 1rem auto;
  width: 400px;
  /* padding: 1rem; */
  border-radius: 8px;
  border-left: 10px solid #e47911;
  display: flex;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-icon {
  width: 55px;
  height: 45px;
  margin-right: 0.5rem;
  padding: 1rem;
}

.message {
  padding: 1rem 0.5rem;
  color: rgb(41, 36, 36);
}
.message h3 {
  margin-bottom: 0.25rem;
}

.close__button {
  border-left: 1px solid #b7bcc2;
  padding: 2rem 1.25rem;
  color: #b7bcc2;
}
.close__button button {
  border: none;
  background-color: transparent;
}
