.browsering__items__container {
  /* width: 100%; */
  /* margin-bottom: 2rem; */
}

.browsering__items__row {
  padding: 1rem 1rem 0rem 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-bottom: 1px solid #ddd;
}

.browsering__items-title {
  color: #0f1111;
  font-size: 1.35rem;
  font-weight: 400;
  margin-bottom: 0.95rem;
}

.browsering__items-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.browsering__items-description {
  width: 200px;
}
.browsering__items-description-text {
  font-size: 0.9rem;
  color: #007185;
  line-height: 21px;
}

.rating {
  color: #ffa41c;
  font-size: 1.2rem;
}
.price {
  color: #b12704;
}

.browsering__items-product {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}
.browsering__items-product img {
  max-width: 125px;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 500px) {
  .browsering__items-product {
    margin-right: 1rem;
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .browsering__items-product {
    width: auto;
    margin-right: 1rem;
    max-width: 200px;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
}
