.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  z-index: 1;
  align-items: center;
  position: relative;
  column-gap: 1rem;
  row-gap: 2.5rem;
  justify-items: center;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 1.5rem 0 1.5rem;
  width: 80%;
  height: 100%;
}
.card__title {
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 20px;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__item__image {
  margin: 0 auto;
  object-fit: cover;
  /* height: 240px;
  width: 125px; */
}

.card__link {
  text-decoration: none;
  padding: 1.5rem 0 1.5rem 0;
  color: #007185;
  font-size: 0.9rem;
}

.card__link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c7511f;
}
.card__description {
  padding: 1rem 0;
}

@media only screen and (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
