.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  background-color: rgb(234, 237, 237);
}
.home__container {
  overflow: hidden;
}
.home__row {
  display: flex;
  z-index: 1;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.home__image {
  width: 100%;
  height: auto;

  z-index: -1;
  margin-bottom: -3rem;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media only screen and (min-width: 650px) {
  .home__image {
    margin-bottom: -7rem;
  }
}
@media only screen and (min-width: 1200px) {
  .home__image {
    margin-bottom: -17rem;
  }
}
@media only screen and (min-width: 1610px) {
  .home__image {
    margin-bottom: -21rem;
  }
}
