.subheader__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #242f41;
  font-family: arial, san-serif;
}

.subheader_links {
  display: flex;

  white-space: nowrap;
  list-style: none;
  align-items: center;
  padding: 0;
}
.subheader__hamburger {
  display: flex;
  align-items: center;
  align-content: center;
}
.subheader__hamburger span {
  padding-left: 0.5rem;
  font-weight: bold;
}
.subheader_links li {
  font-size: 0.85rem;
  color: #fff;
  padding: 0 0.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.subheader__banner {
  width: 100%;
  width: 415px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  overflow: hidden;
  z-index: 10;
}

.hide-mobile {
  display: none;
}
.show-tablet {
  display: none;
}

.show-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .subheader__banner {
    background-size: cover;
    background-position: bottom right;
  }
  .show-tablet {
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .show-desktop {
    display: block;
  }
}
