.checkout {
  display: flex;
  padding: 20px;

  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 768px) {
  .checkout {
    grid-template-columns: 4fr 1fr;
  }
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
  padding: 0.5rem;
  border: 2px solid lightblue;
  background-color: #fff;
  box-sizing: border-box;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
