.page {
  background-color: #fff;
  padding: 1rem 0;
}

.container {
  margin: 0 auto;
}

.product-container {
  display: grid;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.75rem;
}

.product__fullimage {
  width: 100%;
  height: max-content;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
}

.product-description {
  padding: 0 1rem;
}

.product-description__header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}
.product-description__heading {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
.product-description__link {
  font-size: 0.9rem;
}

.product-description__main__pricing {
  font-size: 0.95rem;
  color: rgb(71, 69, 69);
  margin-bottom: 0.45rem;
  padding-top: 0.75rem;
}
/* .product-description__main__pricing p {
} */
.product-description__about {
  padding: 0 0.5rem;
}
.product-description__primelogo {
  display: flex;
  align-items: center;
}
.product-description__primelogo-item {
  margin-right: 0.5rem;
}

.product-description__main__extra {
  padding: 0.5rem 0;
  font-size: 0.85rem;
  letter-spacing: 0.05px;
  line-height: 1.25rem;
  border-bottom: 1px solid #ddd;
}

.product-description__main__extra-text {
  margin-bottom: 0.75rem;
}
.reset-list {
  padding: 0;
}

.product-description__main__extra ul li {
  margin-bottom: 0.25rem;
}
.inline {
  display: inline;
}

.product-description__about-heading {
  padding: 1rem 0 0.5rem 0;
  font-size: 1rem;
}

.product-description__about-list li {
  margin-bottom: 0.25rem;
  line-height: 1.25rem;
}
.product-description__about p {
  font-size: 0.9rem;
}

.product-form {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 0.5rem 1rem 1.5rem;
  box-sizing: border-box;
  height: max-content;
}

@media only screen and (min-width: 600px) {
  .product__fullimage {
    height: 350px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 900px) {
  .container {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 1500px;
  }
}

@media only screen and (min-width: 1000px) {
  .product-container {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .product-form {
    max-width: 250px;
  }
}
@media only screen and (min-width: 1500px) {
  .container {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1500px;
  }
  .product-container {
    grid-template-columns: 2fr 3fr 1fr;
  }
  .product-form {
    max-width: unset;
  }
}

.btn-amazon-buynow {
  background-color: #ffa41c;
}
.btn-amazon-buynow:hover {
  background-color: #f0960e;
  transition: background-color 0.5s;
}
.btn-amazon-pill {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 0.5rem;
}
.secure-box {
  display: flex;
  align-items: baseline;
}
.padlock {
  width: 20px;
  margin-right: 0.5rem;
}

.product-form__delivery {
  font-size: 0.85rem;
  color: rgb(94, 92, 92);
  margin-bottom: 0.75rem;
}

.product-form__stock {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.color-success {
  color: #007600;
}

.product-form__quantity {
  margin-bottom: 1rem;
}

.product-form__dispatch {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* use this to reduce styles */
.font-normal {
  font-size: 0.9rem;
}
.product__information {
  display: grid;
  padding: 1rem;
}

@media only screen and (min-width: 900px) {
  .product__information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.technical__details,
.addtional-information {
  padding: 0.5rem;
}

.product__information__title {
  padding: 1.5rem;
  color: #c60;
  font-weight: 600;
}
.product__information__heading {
  font-weight: 400;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
}
.tr {
  border-bottom: 1px solid #ddd;
}
.td {
  padding: 0.5rem 1rem 2rem 1rem;
  text-align: left;
  font-weight: normal;
  font-size: 0.85rem;
}
.t-left {
  background-color: #f3f3f3;
  color: #565959;
}

.font-normal {
  font-size: 0.9rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  color: #0f1111;
  /* font-style: Arial, sans-serif; */
}
