.footer-top {
  background-color: #37475a;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem 0;
}
.footer-top:hover {
  opacity: 0.8;
  transition: 1s all;
}
.footer-top a {
  text-decoration: none;
  color: #fff;
}

.footer__container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 4rem 0;
  justify-items: center;
}

.footer__mid {
  background-color: #232f3e;
}
.footer__mid-items {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
}
.footer__mid-items li {
  margin-bottom: 0.5rem;
}
.footer__mid-title {
  font-weight: 700;
  color: #fff;
}

.footer__mid-link {
  text-decoration: none;
  color: #ddd;
  font-size: 0.75rem;
}
.footer__mid-link:hover {
  text-decoration: underline;
}

.footer__bottom {
  background-color: #131a22;
}
.footer__bottom ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.footer__bottom ul li {
  padding: 1rem;
}
.footer__bottom ul li a {
  font-size: 0.875rem;
  color: #ddd;
  text-decoration: none;
}
.footer__bottom ul li a:hover {
  text-decoration: underline;
}
.footer__bottom-last {
  color: #999;
  font-size: 0.75rem;
}

@media only screen and (min-width: 550px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .footer__bottom ul li a {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1028px) {
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__mid-items {
    display: block;
  }
  .footer__bottom ul {
    flex-direction: row;
    font-size: 0.75rem;
  }
}
