/* product description */

.product-description {
  padding: 0 1rem;
}

.product-description__header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}
.product-description__heading {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
.product-description__link {
  font-size: 0.9rem;
}

.product-description__main__pricing {
  font-size: 0.95rem;
  color: rgb(71, 69, 69);
  margin-bottom: 0.45rem;
  padding-top: 0.75rem;
}
/* .product-description__main__pricing p {
} */
.product-description__about {
  padding: 0 0.5rem;
}
.product-description__primelogo {
  display: flex;
  align-items: center;
}
.product-description__primelogo-item {
  margin-right: 0.5rem;
}

.product-description__main__extra {
  padding: 0.5rem 0;
  font-size: 0.85rem;
  letter-spacing: 0.05px;
  line-height: 1.25rem;
  border-bottom: 1px solid #ddd;
}

.product-description__main__extra-text {
  margin-bottom: 0.75rem;
}

.product-description__main__extra ul li {
  margin-bottom: 0.25rem;
}

.product-description__about-heading {
  padding: 1rem 0 0.5rem 0;
  font-size: 1rem;
}

.product-description__about-list li {
  margin-bottom: 0.25rem;
  line-height: 1.25rem;
}
.product-description__about p {
  font-size: 0.9rem;
}
